Cloud/CSC_DronePicture_WebService/WebContent/wsdl/DroneDataService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://app" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://app" xmlns:intf="http://app" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://app" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="saveDroneData">
    <complexType>
     <sequence>
      <element name="height" type="xsd:double"/>
      <element name="x" type="xsd:double"/>
      <element name="y" type="xsd:double"/>
      <element name="image" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
   <element name="saveDroneDataResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saveDroneDataRequest">

      <wsdl:part element="impl:saveDroneData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saveDroneDataResponse">

      <wsdl:part element="impl:saveDroneDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DroneDataService">

      <wsdl:operation name="saveDroneData">

         <wsdl:input message="impl:saveDroneDataRequest" name="saveDroneDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:saveDroneDataResponse" name="saveDroneDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DroneDataServiceSoapBinding" type="impl:DroneDataService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="saveDroneData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saveDroneDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saveDroneDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DroneDataServiceService">

      <wsdl:port binding="impl:DroneDataServiceSoapBinding" name="DroneDataService">

         <wsdlsoap:address location="http://localhost:8080/D2C_WebService/services/DroneDataService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
